*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0px;
    padding: 0px;
    background-color:rgb(255, 251, 7) ;
    
}

h1 {
    font-size: 70px;
    text-align: center;
}
h2 {
    text-align: center;
}
.fotoP {
    display: flex;
    justify-content: center;
    
}
.titulo_antes {
    display: flex;
    justify-content: center;
    font-weight: bold;
    
}
.titulo_maior h1{
    font-size: 50px;
}
.widget_bar {
    width: 100%;
    height: 4px;
    background-color: black;
    margin-top: 20px;
}
.fato{
    display: flex;
    justify-content: left;
    background-color: white;
    border: 2px solid black;
    font-weight: bolder;
    margin-top: 20px;
    margin-left: 120px;
    margin-right: 120px;
}
.ano {
    margin-right: 20px;
    background-color: #ff9900;
    margin-left: 5px;
    border: 2px solid #ff9900;
}
.curiosidades div {
    display: flex;
    margin: 20px;
    justify-content: center;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    font-weight: bolder;
    
}
.corpo{
    border:4px solid black ;
    margin: 20px;
}
footer {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 20px;
}
footer a{
    color: white;
    text-decoration: none;
    
}
